.fade-in {
  opacity: 0;
}

.fade-in.appear {
  transition: 250ms ease-in;
  opacity: 1;
}

.hover-shake:hover {
  animation: shake ease 500ms;
}

.emoji-shake, .hover-shake {
  display: inline-block;
}

.emoji-shake.appear {
  animation: shake ease 1s;
}

@keyframes shake {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(-20deg);
  }
  50% {
    transform: rotate(0);
  }
  75% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(0deg);
  }
}