#cover {
  height: 75vh;
  padding: 10vh;
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#about,
#experience,
#projects,
#contact {
  min-height: 30vh;
}

#about,
#experience,
#projects,
#contact {
  padding-top: 10vh;
}

#contact-info,
#contact-form {
  padding-bottom: 10vh
}

@media (min-width: 700px) {
  #about,
  #experience,
  #projects,
  #contact {
    padding-top: 15vh;
  }
  
  #contact-info,
  #contact-form {
    padding-bottom: 15vh
  }
}

#footer {
  padding-top: 6vh;
  padding-bottom: 10vh;
  background-color: #222222;
  color: white;
}