#about-main-summary {
  width: 100%;
  max-width: 700px;
  margin-right: 10px;
  line-height: 1.5;
}

#about-ucsb-image {
  height: auto;
  width: auto;
  max-width: 100%;
  margin-top: 30px;
  opacity: 0.9;
}

@media(min-width: 1000px) {
  #about-main-summary {
    width: 400px;
  }
  #about-ucsb-image {
    height: 380px
  }
}

@media(min-width: 1200px) {
  #about-main-summary {
    width: 480px;
  }
  #about-ucsb-image {
    height: 440px;
  }
}

.about-skill__bg {
  width: 100%;
  height: 78vh;
  background-color: black;
  overflow: hidden;
  position: absolute;
  background-position: center;
  background-size: cover;
  z-index: -1;
}

.about-skill__header {
  position: relative;
  width: 100%;
  height: 18vh;
}

.about-skill__header-bg {
  background-color: black;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  position: absolute;
  z-index: -1;
}

.about-skill__text {
  max-width: 700px;
  line-height: 1.5;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  margin: 0 20vw;
  border-radius: 8px;
  max-height: 70vh;
}

.about-skill__body {
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-skill__header-grid {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.about-skill__header-element {
  color: white;
}

@media (max-width: 700px) {
  .about-skill__bg {
    height: 110vh;
  }
  .about-skill__header, .about-skill__header-bg {
    height: 40vh;
  }
  .about-skill__header-grid {
   flex-direction: column; 
  }
  .about-skill__header-element {
    border-bottom: 1px solid white;
  }
  .about-skill__body {
    height: 70vh;
  }
}