.about-text {
  width: 100%;
  max-width: 700px;
  margin-right: 10px;
  line-height: 1.5;
}

.about-ucsb {
  height: auto;
  width: auto;
  max-width: 100%;
  margin-top: 30px;
  opacity: 0.9;
}

@media(min-width: 1000px) {
  .about-text {
    width: 400px;
  }
  .about-ucsb {
    height: 380px
  }
}

@media(min-width: 1200px) {
  .about-text {
    width: 480px;
  }
  .about-ucsb {
    height: 440px;
  }
}

.about-skill {
  width: 100%;
  max-width: 700px;
  line-height: 1.5;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  margin: 0 18vw;
  border-radius: 10px;
  max-height: 70vh;
}