#experience-items {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.experience-item {
  width: 100%;
  max-width: 900px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border-radius: 8px;
  margin-bottom: 20px;
  overflow: hidden;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}

.experience-item__sidebar {
  width: 50px;
  overflow: hidden;
  border-radius: 8px 0 0 8px;
  color: white;
  background-color: black;
}

.experience-item__icon-box {
  height: 50px;
  width: 50px;
  border-bottom: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.experience-item__sidebar--school {
  background-color: #f44336;
}

.experience-item__sidebar--work {
  background-color: #3f51b5;
}

.experience-item__body {
  width: 100%;
  box-sizing: border-box;
  padding: 8px 20px;
  border: white solid 1px;
  border-left: 0;
  border-radius: 0px 8px 8px 0;
}

.experience-item__body-text {
  margin-top: 5px;
  line-height: 1.5;
}