html {
  scroll-behavior: smooth;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
  margin: 0;
  line-height: 1.4;
}

h1 {
  font-size: 56px;
  line-height: 1.2;
}

@media (min-width: 700px) {
  h1 {
    font-size: 56px;
  }
}

h2 {
  font-size: 50px;
  line-height: 1.2;
}

h3 {
  font-size: 40px;
}

h4 {
  font-size: 32px;
}

h5 {
  font-size: 24px;
}

h6 {
  font-size: 20px;
}

.link {
  color: #007bff;
  text-decoration: none;
  display: inline-block;
  position: relative;
}

.link::before {
  transition: 300ms;
  height: 2px;
  content: "";
  position: absolute;
  background-color: #007bff;
}

.link-ltr::before {
  width: 0%;
  left: 50%;
  top: 20px;
}

.link-ltr:hover::before {
  left: 0%;
  width: 100%;
}

a {
  color: black;
  text-decoration: none;
}

button {
  padding: 0;
  margin: 0;
  border: 0px;
  background-color: rgba(255, 255, 255, 0);
}

hr {
  margin: 10px auto;
  max-width: 100%;
}

@media (min-width: 700px) {
  hr {
    width: 500px;
  }
}

.flex-space-around {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.flex-center {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.text-center {
  text-align: center
}

.hidden {
  display: none !important;
}

@media (max-width: 750px) {
  .desktop-render {
    display: none;
  }
}

@media (min-width: 750px) {
  .mobile-render {
    display: none;
  }
}