#nav-bar {
  transition: 200ms ease-out;
  height: 68px;
  position: fixed;
  z-index: 1;
  width: 100%;
  background-color: rgba(236, 236, 236, 0.2);
  padding: 10px 0;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
}

#nav-bar.shrink {
  background-color: rgba(236, 236, 236, 1);
  height: 30px;
}

.nav-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-link, .nav-link-disabled {
  color: black;
  text-decoration: none;
  display: inline-block;
  position: relative;
}

.nav-link-disabled:hover {
  opacity: 1;
}

.nav-link::before, .nav-link-disabled::before {
  transition: 300ms;
  height: 2px;
  content: "";
  position: absolute;
  background-color: black;
}

.nav-link-ltr::before {
  width: 0%;
  top: 20px;
  left: 50%;
}

.nav-link::before, .nav-link-ltr:hover::before {
  width: 100%;
  left: 0%;
}

.nav-link-disabled {
  color: black;
  opacity: 0.75;
}

.brand {
  font-family: "Oswald";
  line-height: 1.2;
}

.brand-name {
  font-size: 36px;
  font-weight: 600;
  letter-spacing: 1px;
}

.brand-under {
  font-size: 21px;
}