.nav-bar {
  position: fixed;
  z-index: 1;
  width: 100%;
  background-color: rgb(236, 236, 236);
  padding: 10px 0;
}

.nav-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-link, .nav-link-disabled {
  color: #031D44;
  text-decoration: none;
  display: inline-block;
  position: relative;
}

.nav-link-disabled:hover {
  opacity: 1;
}

.nav-link::before, .nav-link-disabled::before {
  transition: 300ms;
  height: 2px;
  content: "";
  position: absolute;
  background-color: #031D44;
}

.nav-link-ltr::before {
  width: 0%;
  top: 20px;
  left: 50%;
}

.nav-link::before, .nav-link-ltr:hover::before {
  width: 100%;
  left: 0%;
}

.nav-link-disabled {
  color: black;
  opacity: 0.75;
}

.nav-link-disabled:hover {
  color: #031D44;
}

.brand {
  font-family: "Oswald";
  line-height: 1.2;
}

.brand-name {
  color: black;
  font-size: 36px;
  letter-spacing: 1px;
}

.brand-under {
  color: rgb(87, 86, 86);
  font-size: 21px;
}