.project-item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  min-height: 40vh;
  margin-bottom: 30px;
}

.project-item-vl {
  visibility: hidden;
}

@media (min-width: 700px) {
  .project-item-vl {
    transition: 500ms;
    visibility: visible;
    border-left: 3px solid black;
    height: 400px;
    margin-right: 30px;
  }

  .project-item.focus > .project-item-vl {
    border-left: 8px solid black;
    margin-right: 55px; 
  }
}

.project-modal-img {
  max-height: 600px;
  max-width: 100%;
  width: auto;
  border: 1px solid rgb(228, 228, 228);
}

.project-item-imgs {
  max-height: 300px;
  overflow: hidden;
}

.project-img {
  max-height: 300px;
  max-width: 100%;
  width: auto;
  border: 1px solid rgb(228, 228, 228);
  transition: transform .4s;
}

.project-img:hover {
  cursor: pointer;
  transform: scale(0.9);
}

.project-item-tech-row {
  max-height: 55px;
  overflow-y: hidden;
  margin-bottom: 10px;
}

@media (min-width: 700px) {
  .project-item-tech-row {
    transition: 250ms;
    max-height: 0px;
  }

  .project-item.focus > div > .project-item-tech-row {
    max-height: 55px;
  }
}

.project-tech-icon {
  transition: 250ms;
  height: 40px;
  margin: 5px;
  transform: scale(1);
}

.project-tech-icon:hover {
  transform: scale(1.2);
  z-index: 1;
}

@media (min-width: 700px) {
  .project-tech-icon-0,
  .project-tech-icon-1,
  .project-tech-icon-2,
  .project-tech-icon-3,
  .project-tech-icon-4,
  .project-tech-icon-5,
  .project-tech-icon-6,
  .project-tech-icon-7,
  .project-tech-icon-8,
  .project-tech-icon-9 {
    transition: 500ms;
    display: inline-block;
    transform: translateX(-800px);
    opacity: 0;
  }

  .project-tech-icon-0 {
    transition-delay: 0ms;
  }

  .project-tech-icon-1 {
    transition-delay: 100ms;
  }

  .project-tech-icon-2 {
    transition-delay: 200ms;
  }

  .project-tech-icon-3 {
    transition-delay: 300ms;
  }

  .project-tech-icon-4 {
    transition-delay: 400ms;
  }

  .project-tech-icon-5 {
    transition-delay: 500ms;
  }

  .project-tech-icon-6 {
    transition-delay: 600ms;
  }

  .project-tech-icon-7 {
    transition-delay: 700ms;
  }

  .project-tech-icon-8 {
    transition-delay: 800ms;
  }

  .project-tech-icon-9 {
    transition-delay: 900ms;
  }

  .project-item.focus > div > .project-item-tech-row > .project-tech-icon-0,
  .project-item.focus > div > .project-item-tech-row > .project-tech-icon-1,
  .project-item.focus > div > .project-item-tech-row > .project-tech-icon-2,
  .project-item.focus > div > .project-item-tech-row > .project-tech-icon-3,
  .project-item.focus > div > .project-item-tech-row > .project-tech-icon-4,
  .project-item.focus > div > .project-item-tech-row > .project-tech-icon-5,
  .project-item.focus > div > .project-item-tech-row > .project-tech-icon-6,
  .project-item.focus > div > .project-item-tech-row > .project-tech-icon-7,
  .project-item.focus > div > .project-item-tech-row > .project-tech-icon-8,
  .project-item.focus > div > .project-item-tech-row > .project-tech-icon-9 {
    transform: translateX(0px);
    opacity: 1;
  }
}

.project-item-desc {
  width: 100%;
  line-height: 1.5;
  margin-bottom: 10px;
}

@media(min-width: 700px) {
  .project-item-desc {
    transition: 250ms;
    max-height: 0px;
    overflow-y: hidden;
  }

  .project-item.appear > div > .project-item-desc {
    max-height: 200px;
  }
}

@media (min-width: 850px) {
  .project-item-desc {
    width: 750px;
  }
}

@media (max-width: 700px) {
  .mobile-center {
    text-align: center;
  }
}

#projects-fab {
  position: fixed;
  right: 5vw;
  bottom: 2vh;
  margin: 10px !important;
}
