.project-item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  min-height: 40vh;
  margin-bottom: 30px;
}

.project-item-vl {
  visibility: hidden;
}

@media (min-width: 700px) {
  .project-item-vl {
    transition: 500ms;
    visibility: visible;
    border-left: 3px solid black;
    height: 400px;
    margin-right: 20px;
  }

  .project-item-vl.appear {
    border-left: 8px solid black;
    margin-right: 55px; 
  }
}

.project-modal-img {
  max-height: 600px;
  max-width: 100%;
  width: auto;
  border: 1px solid rgb(228, 228, 228);
}

.project-img {
  max-height: 300px;
  max-width: 100%;
  width: auto;
  border: 1px solid rgb(228, 228, 228);
  transition: transform .4s;
}

.project-img:hover {
  cursor: pointer;
  transform: scale(0.9);
}

.project-desc {
  width: 100%;
  line-height: 1.5;
}

@media (min-width: 700px) {
  .project-desc {
    width: 600px;
  }
}

@media (max-width: 700px) {
  .mobile-center {
    text-align: center;
  }
}

#projects-fab {
  position: fixed;
  right: 5vw;
  bottom: 2vh;
  margin: 10px !important;
}

.project-tech-icon {
  transition: 250ms;
  height: 40px;
  margin: 5px;
  transform: scale(1);
}

.project-tech-icon:hover {
  transform: scale(1.2);
  z-index: 1;
}
