@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

/* 
------------- MAIN -------------
*/

html {
  scroll-behavior: smooth;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
  margin: 0;
}

h1 {
  font-size: 64px;
  line-height: 1.2;
}

h2 {
  font-size: 50px;
}

h3 {
  font-size: 40px;
}

h4 {
  font-size: 32px;
}

h5 {
  font-size: 28px;
}

h6 {
  font-size: 20px;
}

.link {
  color: #007bff;
  text-decoration: none;
}

.link:hover {
  color: #007bff;
  text-decoration: underline;
}

.link-no-styles {
  color: black;
  text-decoration: none;
}

button {
  padding: 0;
  margin: 0;
  border: 0px;
  background-color: rgb(255, 255, 255, 0);
}

hr {
  max-width: 100%;
}

@media (min-width: 700px) {
  hr {
    width: 500px;
  }
}

.cursor-hover:hover {
  cursor: pointer;
}

.flex-space-around {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.flex-center {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.text-center {
  text-align: center
}

.fade-in {
  opacity: 0;
  transition: opacity 250ms ease-in;
}

.fade-in.appear {
  opacity: 1;
}

.fade-appear {
  opacity: 0;
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}

.hidden {
  display: none;
}

/* 
------------- NAVBAR -------------
*/

.nav-bar {
  position: fixed;
  z-index: 1;
  width: 100%;
  background-color: rgb(236, 236, 236);
  padding: 10px 0;
}

.nav-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-link {
  color: black;
  text-decoration: none;
}

.nav-link:hover {
  color: #007bff;
}

@media (max-width: 700px) {
  .desktop-render {
    display: none;
  }
}

@media (min-width: 700px) {
  .mobile-render {
    display: none;
  }
}

.brand {
  font-family: "Oswald";
  line-height: 1.2;
}

.brand-name {
  color: black;
  font-size: 36px;
  letter-spacing: 1px;
}

.brand-under {
  color: rgb(87, 86, 86);
  font-size: 21px;
}

/* 
------------- LAYOUT -------------
*/

#cover {
  height: 75vh;
  padding: 10vh;
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.cover-background {
  position: absolute;
  z-index: -1;
  height: 80vh;
  padding: 10vh;
  background-image: url("./images/lightbulbs.jpeg");
  opacity: 0.8;
  background-position: left;
  background-size: cover;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.cover-content {
  z-index: 0;
  height: 700px;
  margin-top: 180px;
}

@media (min-width: 800px) {
  .cover-content {
    height: 780px;
    margin-right: 500px;
    margin-bottom: 60px;
    margin-top: 0px;
  }
}

@media (min-width: 1100px) {
  .cover-content {
    height: 780px;
    margin-right: 680px;
    margin-bottom: 60px;
    margin-top: 0px;
  }
}

.cover-text {
  position: absolute;
  z-index: 1;
  line-height: 0.9;
  background-color: rgb(255, 255, 255, 0.6);
  padding: 10px;
  border-radius: 10px;
  margin-top: -200px;
}

@media (min-width: 800px) {
  .cover-text {
    margin-left: 350px;
    margin-top: -150px;
  }
}

@media (min-width: 1100px) {
  .cover-text {
    margin-left: 550px;
    margin-top: -150px;
  }
}

.cover-animated-title {
  height: 40px;
  padding: 4px 0;
  overflow: hidden;
}

.line {
  line-height: 50px;
}

.line:first-child {
  animation: a 8s infinite;
}

@keyframes a {
  0% {
    margin-top: 0px;
  }
  30% {
    margin-top: 0px;
  }
  50% {
    margin-top: -50px;
  }
  80% {
    margin-top: -50px;
  }
  100% {
    margin-top: 0px;
  }
}

#about,
#experience,
#projects,
#contact {
  min-height: 30vh;
  padding-top: 10vh;
}

#footer {
  padding: 5vh 0;
}

/* 
------------- ABOUT ME -------------
*/

.about-text {
  width: 100%;
  margin-right: 10px;
  line-height: 1.5;
}

@media(min-width: 800px) {
  .about-text {
    width: 480px;
  }
}

.about-skills {
  height: 440px;
  max-width: 100%;
  width: auto;
  margin-top: 30px;
  opacity: 0.8;
}

/* 
------------- PROJECTS -------------
*/

.project-item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  min-height: 40vh;
  margin-bottom: 30px;
}

.vl {
  visibility: hidden;
}

@media (min-width: 700px) {
  .vl {
    visibility: visible;
    border-left: 3px solid black;
    height: 400px;
    margin-right: 20px;
  }

  .vl.appear {
    animation: enlargeVl ease 500ms;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

  .vl.disappear {
    animation: reduceVl ease 1000ms;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

  @keyframes enlargeVl {
    0% {
      border-left: 3px solid black;
      margin-right: 20px;
    }
    100% {
      border-left: 6px solid black;
      margin-right: 25px; 
    }
  }

  @keyframes reduceVl {
    0% {
      border-left: 6px solid black;
      margin-right: 25px;
    }
    100% {
      border-left: 3px solid black;
      margin-right: 20px;
    }
  }
}

.project-modal-img {
  max-height: 600px;
  max-width: 100%;
  width: auto;
  border: 1px solid rgb(228, 228, 228);
}

.project-img {
  max-height: 360px;
  max-width: 100%;
  width: auto;
  border: 1px solid rgb(228, 228, 228);
  transition: transform .4s;
}

.project-img:hover,
button:focus {
  cursor: pointer;
  transform: scale(0.9);
}

.project-desc {
  width: 100%;
  line-height: 1.5;
}

@media (min-width: 700px) {
  .project-desc {
    width: 600px;
  }
}

@media (max-width: 700px) {
  .mobile-center {
    text-align: center;
  }
}

/* 
------------- CONTACT -------------
*/

.contact-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.contact-buttons > * {
  margin-right: 5px;
  margin-bottom: 5px;
}

.hover-shake:hover {
  animation: shake ease 500ms;
}

@media (min-width: 700px) {
  .emoji-shake {
    display: inline-block;
  }

  .emoji-shake.appear {
    animation: shake ease 1s;
  }
}

@keyframes shake {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(-20deg);
  }
  50% {
    transform: rotate(0);
  }
  75% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(0deg);
  }
}