@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

/* 
------------- MAIN -------------
*/

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Oswald";
  margin: 0;
}

h1 {
  font-size: 64px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 24px;
}

.link {
  color: black;
  text-decoration: none;
}

.link:hover {
  color: #007bff;
}

/* 
------------- LAYOUT -------------
*/

.nav-bar {
  position: fixed;
  z-index: 1;
  width: 100%;
  background-color: rgb(236, 236, 236, 0.85);
  padding: 10px 0;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.brand {
  font-family: "Oswald";
  line-height: 1.2;
}

.brand-name {
  color: black;
  font-size: 36px;
  letter-spacing: 1px;
}

.brand-under {
  color: rgb(87, 86, 86);
  font-size: 21px;
}

#cover {
  height: 80vh;
  padding: 10vh;
  background-image: url("./images/lightbulbs.jpeg");
  opacity: 0.8;
  background-position: bottom;
  background-size: cover;
}

#about,
#experience,
#projects,
#contact {
  min-height: 50vh;
  padding: 10vh 0;
}

/* 
------------- PROJECTS -------------
*/

.project-item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  min-height: 40vh;
  margin-bottom: 30px;
}

.vl {
  visibility: hidden;
}

@media (min-width: 700px) {
  .vl {
    visibility: visible;
    border-left: 3px solid black;
    height: 400px;
    margin-right: 35px;
  }
}

.project-img {
  max-height: 360px;
  max-width: 100%;
  width: auto;
  border: 1px solid rgb(228, 228, 228);
}

.project-desc {
  width: 100%;
}

@media (min-width: 700px) {
  .project-desc {
    width: 700px;
  }
}